# Ignorar todo por defecto
*


!static/img
!app/posts/context_processors.py
!*.py
!*/                 
!manage.py
!posts/
!posts/*.py
!templates/
!templates/**/*.html
!static/
!static/**/*

# Archivos sensibles
.env
the_movie_blog/cuentas_privadas.txt
the_movie_blog/configuraciones/local.py

# Entorno virtual
venv/
env/

# Archivos de bases de datos
*.sqlite3
db.sqlite3

# Archivos de Python
__pycache__/
*.pyc

.idea/
.vscode/

media/
media/peliculas/
media/peliculas/protadas/
staticfiles/